<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BaseDatosCristianNieto"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Seleccion_borrar"
            android:exported="true">
            //<intent-filter>
            //<action android:name="android.intent.action.MAIN" />

            //<category android:name="android.intent.category.LAUNCHER" />
            //</intent-filter>
        </activity>
        <activity
            android:name=".Seleccion_add"
            android:exported="true">
            //<intent-filter>
            //<action android:name="android.intent.action.MAIN" />

            //<category android:name="android.intent.category.LAUNCHER" />
            //</intent-filter>
        </activity>
        <activity
            android:name=".Seleccion_mostrar"
            android:exported="true">
            //<intent-filter>
            //<action android:name="android.intent.action.MAIN" />

            //<category android:name="android.intent.category.LAUNCHER" />
            //</intent-filter>
        </activity>
        <activity
            android:name=".Seleccion_modificar"
            android:exported="true">
            //<intent-filter>
            //<action android:name="android.intent.action.MAIN" />

            //<category android:name="android.intent.category.LAUNCHER" />
            //</intent-filter>
        </activity>
        <activity
            android:name=".Add_centro"
            android:exported="true">
            //<intent-filter>
            //<action android:name="android.intent.action.MAIN" />

            //<category android:name="android.intent.category.LAUNCHER" />
            //</intent-filter>
        </activity>
        <activity
            android:name=".Add_producto"
            android:exported="true">
            //<intent-filter>
            //<action android:name="android.intent.action.MAIN" />

            //<category android:name="android.intent.category.LAUNCHER" />
            //</intent-filter>
        </activity>
        <activity
            android:name=".Add_ubicacion"
            android:exported="true">
            //<intent-filter>
            //<action android:name="android.intent.action.MAIN" />

            //<category android:name="android.intent.category.LAUNCHER" />
            //</intent-filter>
        </activity>
        <activity
            android:name=".Add_oferta"
            android:exported="true">
            //<intent-filter>
            //<action android:name="android.intent.action.MAIN" />

            //<category android:name="android.intent.category.LAUNCHER" />
            //</intent-filter>
        </activity>
        <activity
            android:name=".Delete_centro"
            android:exported="true">
            //<intent-filter>
            //<action android:name="android.intent.action.MAIN" />

            //<category android:name="android.intent.category.LAUNCHER" />
            //</intent-filter>
        </activity>
        <activity
            android:name=".Delete_oferta"
            android:exported="true">
            //<intent-filter>
            //<action android:name="android.intent.action.MAIN" />

            //<category android:name="android.intent.category.LAUNCHER" />
            //</intent-filter>
        </activity>
        <activity
            android:name=".Delete_producto"
            android:exported="true">
            //<intent-filter>
            //<action android:name="android.intent.action.MAIN" />

            //<category android:name="android.intent.category.LAUNCHER" />
            //</intent-filter>
        </activity>
        <activity
            android:name=".Delete_ubicacion"
            android:exported="true">
            //<intent-filter>
            //<action android:name="android.intent.action.MAIN" />

            //<category android:name="android.intent.category.LAUNCHER" />
            //</intent-filter>
        </activity>
        <activity
            android:name=".Update_desp_oferta"
            android:exported="true">
            //<intent-filter>
            //<action android:name="android.intent.action.MAIN" />

            //<category android:name="android.intent.category.LAUNCHER" />
            //</intent-filter>
        </activity>
        <activity
            android:name=".Update_marca"
            android:exported="true">
            //<intent-filter>
            //<action android:name="android.intent.action.MAIN" />

            //<category android:name="android.intent.category.LAUNCHER" />
            //</intent-filter>
        </activity>
        <activity
            android:name=".Update_nombre_centro"
            android:exported="true">
            //<intent-filter>
            //<action android:name="android.intent.action.MAIN" />

            //<category android:name="android.intent.category.LAUNCHER" />
            //</intent-filter>
        </activity>
        <activity
            android:name=".Update_precio"
            android:exported="true">
            //<intent-filter>
            //<action android:name="android.intent.action.MAIN" />

            //<category android:name="android.intent.category.LAUNCHER" />
            //</intent-filter>
        </activity>
    </application>

</manifest>